extends ../templates/base

block content
	div(class="col-md-4 col-md-offset-4")

		if error
			div(class="alert alert-danger", role="alert") #{error}
		
		if !user
			form(action="/login/", method="post")
				h2 Please sign in
				label(for="login-email", class="sr-only") Email address
				input(type="email", id="login-email", name="login-email", class="form-control", placeholder="Email address", required, autofocus)
				label(for="login-password", class="sr-only") Password
				input(type="password", id="login-password", name="login-password", class="form-control", placeholder="Password", required)
				//div(class="checkbox")
					label
						input(type="checkbox", name="login-remember", value="remember-me")
						| Remember me
				br
				button(class="btn btn-lg btn-primary btn-block", type="submit") Sign in
		else
			p 
				| You are already authorized. You can go to the 
				a(href="/personal/") Personal cabinet